body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Heading */
header {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

header h1 {
    color: purple;
}

header p {
    color: gray;
}
