body {
    font-family: Arial;
    background-color: lightgray;
    text-align: center;
}

h1 {
    color: darkblue;
}

.box {
    background-color: white;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid black;
}

img {
    filter: grayscale(50%);
}
