* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #17072b;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: Tahoma, sans-serif;
    font-weight: 700;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
}

.welcome {
    flex: 3;
    padding: 20px;
}

.welcome h2 {
    margin-bottom: 10px;
}

.welcome img {
    width: 100%;
    margin-top: 15px;
}

.sidebar {
    flex: 1;
    background-color: #172d67;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    margin-bottom: 20px;
}

.sidebar ul li {
    margin-bottom: 8px;
}

.images {
    display: flex;
    gap: 10px;
}

.images img {
    width: 50%;
}

footer {
    background-color: #8c15e9;
    color: white;
    text-align: center;
    padding: 10px;
}
